<?xml version='1.0' encoding='utf-8'?>

<widget id="com.example.cv"
        version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Example CV</name>

    <description>An example CV App</description>

    <author email="c.bowers@worc.ac.uk" href="http://www.worcester.ac.uk"> Chris Bowers </author>

    <content src="index.html" />

</widget>